<% include ../partials/header %>

<div class="container">
  <%foodtrucks.forEach((truck)=>{%>
  <div id="<%=truck._id%>" class="marker"></div>
  <%})%>

  <div class="row">
    <div class="col-md-12">
      <div id="citymap"></div>
    </div>
  </div>
</div>

<script>

   let markers = [];

   <%foodtrucks.forEach((truck)=>{%>
       markers.push(
         {
           id:"<%=truck._id%>",
           lat:<%=truck.lat%>,
           lon:<%=truck.lon%>,
           popup: new mapboxgl.Popup({ offset: 25, closeButton: false,
    closeOnClick: false }).setText('<%=truck.name%>')
         }
       );
   <%})%>

   const map_lat = -37.8136;
   const map_lon = 144.9631;

   mapboxgl.accessToken =
     "pk.eyJ1IjoiYWxhbmNodSIsImEiOiJjazBsdzA4OXAwbzdpM2VwOW1zaGo4NWl4In0.EYn2kr7DOFk0PSMVk3lhSQ";
   var map = new mapboxgl.Map({
     container: "citymap", // HTML container id
     style: "mapbox://styles/mapbox/streets-v11", // style URL
     center: [map_lon, map_lat], // starting position as [lng, lat]
     zoom: 11
   });
   var popup = new mapboxgl.Popup({ offset: 25 })
       .setText('Name of the foodtruck.');

   markers.forEach((marker)=>{
      var m = new mapboxgl.Marker().setLngLat([marker.lon, marker.lat]).setPopup(marker.popup).addTo(map);
  })
</script>
<% include ../partials/footer %>
